/*
TO DO:
--MAKE REPO
--MEDIA QUERIES
--HOVER AND OTHER PSEUDO ELEMENTS
--TWEAK FOR UNMATCHED ELEMENTS -- NAME IN HEADER, HOVERS
--COMMENT CSS (FOR REAL, NOT THIS)
*/

:root {
    --text-color: #090925;
    --body-color: #d9dcd6;
    --border-color: #73e4dc;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 16px;
    color: var(--text-color);
}

header {
    width: 100%;
    padding: 20px 35px;
    margin: 0;
    background-color: var(--text-color);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: sticky; */
    top: 0;
}

/* opt after assignment to not to knock out dark text against lighter backdrop as the mockup had it */

header h1 {
    /* MUST REMEMBER TO POSITION THIS LEFT IN VIEWPORT AND PULL TEXT TO RIGHT */
    padding: 7px 35px 7px 100px;
    color: var(--text-color);
    background-color: var(--body-color);
    display: inline-block;
    text-align: right;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 0 10px 5px 10px;
    border-bottom: 3px solid var(--body-color);
}

header nav ul li a {
    color: var(--body-color);
    text-decoration: none;
}

/* hero container styling */

.hero {
    width: 100%;
    height: 225px;
    background-image: url("/assets/images/desert.jpeg");
    background-size: cover;
    margin-bottom: 30px;
}

/* container class for informational items */

.info-container {
    display: flex;
    padding: 0 25px;
    margin-bottom: 30px;
}

.section-header {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    text-align: right;
    margin: 5px 0 5px 5px;
}

.section-header h1 {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color);
    padding-right: 20px;
    border-right: 3px solid var(--text-color);
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: 5px 50px 10px 30px;
    padding: 0;
}

.main-image {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.secondary-image {
    width: 48%;
    position: relative;
}

.image-tab {
    padding: 10px 20px;
    background-color: var(--border-color);
    position: absolute;
    bottom: 70px;
}

.section-content img {
    border: 5px solid var(--border-color);
    width: 100%;
}

.section-content h3 {
    font-size: 20px;
}

.section-content h4 {
    font-size: 14px;
    font-weight: normal;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 20px;
}

.contact-info ul li {
    display: inline-block;
    margin-left: 50px;
    border-bottom: 3px solid var(--text-color);
}

.contact-info ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.contact-info ul li a;hover {
    color: red;
    text-decoration: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER (MAX WIDTH 980) */

@media screen and (max-width: 980px) {
    header {
        /* this will be applied on any screen smaller than 980px */
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER (MAX WIDTH 768)

MEDIA QUERY FOR MOBILE PHONES AND SMALLER (MAX WIDTH 575)
*/